body {font-family:Arial}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 ,h6, .nav a {font-family:Roboto;}
.modal { 
   background-color: rgba(0, 0, 0, 0.5);
   padding-top:5%;
}
.side-bar .nav{}
.seotip {cursor:pointer;    }
.seotip i {color:#ccc;}
.upgrade-tease {position:relative; }
.upgrade-container .chartjs-size-monitor, .upgrade-container .competitor-list, .upgrade-container .pos-dist, .upgrade-container h2, .upgrade-container canvas, .upgrade-container table, .upgrade-container .referring-tlds {filter:blur(6px);pointer-events:none;-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */}
.cols div {border:1px solid #ddd;border-right:0;padding:10px;}
.cols div:last-child {border-right:1px solid #ddd;}
.sub-cols div {}
.url-container .input-group-text {padding:0;}
.url-container #https-pref {padding: 7px 5px;
    border: 0;
    background: #eee;}
.circle-num {background: #0E6EEA;
    border-radius: 50%;
    font-style: normal;
    margin-right: 5px;
    color: #fff;
    padding: 3px 7px 3px 7px;
    line-height: 15px;
    font-size: 13px;
    width: 15px;
    height: 14px;
    font-weight: bold;}
    .analysis-more-detail {font-size:13px;margin:0;color:#999;}
ul.competitor-list {list-style-type: none;padding:0px;margin:0 0 10px 0;position: relative;}
ul.serp-features-list {margin:0;padding:0;list-style-type: none}
ul.serp-features-list li {padding:3px 0px;}
.competitor-details ul {padding:0;margin:0;}
.competitor-details ul li {list-style-type:none;}
.upgrade-container .btn-warning {
    z-index: 99;
    position: absolute;
    top: 50%;-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
    left: 43%;
}

li.competitor-info{padding:5px 0;cursor:pointer;}
.competitor-info::marker {
display:none;
}
.progress-bar {font-size:11px;}
.btn-disabled {background:#ddd;color:#999;cursor: not-allowed !important    ;}
.row .dataTables_wrapper .dataTables_paginate .paginate_button {}
.row .dataTables_wrapper .dataTables_paginate .paginate_button.current {background: #007bff;
    background-color: #007bff;
    border-color: #0372e9;
    padding: 4px 10px;
    color: #fff !important;}
.row .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .row .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {background: #0372e9;
    background-color: #007bff;
    border-color: #0372e9;
    padding: 4px 10px;
    color: #fff !important;}
    .dataTables_wrapper .dt-buttons {    top: 37px;
    position: relative;}
    .dataTables_wrapper {top:-15px;}
    .dataTables_wrapper .btn-copy {background:#999;color:#fff;}
    .dataTables_wrapper .btn-excel {background:#217346;color:#fff;}
    .dataTables_wrapper .btn-csv {background:#333;color:#fff;}
    .row .dataTables_wrapper .dataTables_info {color:#999;font-size:14px;}
    h5.updated_at {color:#999;font-size:1rem;}
    h5#url {font-size:1.1rem;}
.btn-disabled:hover {color:#999;}
.report-header {padding-bottom:15px;}
.report-header {border-bottom:1px solid #ddd;}
.empty-list {padding:15px;}
tr.empty {text-align:center;}
tr.empty td {background:#e5edf8;}
ul.serp_features {list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;}
.serp_features li {display:block;float:left;padding:5px;}
.serp_features  .serp-icon {    background: #EEE;
    BORDER: 1PX SOLID #DDD;
    PADDING: 3PX;
    BORDER-RADIUS: 3PX;
}
.outof {font-size: 1.4rem;
    color: #666;
    font-weight: normal;}
.serp-feature {width:150px; font-size: 12px;
    z-index: 999999999999;
    position: absolute;
    border: 1px solid #ddd;
    background: #f2f2f2;padding:5px;}
    .serp-feature h6 {font-size:16px;margin-bottom:5px;}
.competitor-details {    font-size: 12px;
    z-index: 999999999999;
    position: absolute;
    border: 1px solid #ddd;
    background: #f2f2f2;}
    .pos-dist {    list-style-type: none;
    padding-left: 10px;}
    .pos-dist li {padding:3px 0;}
.upgrade-tease .upgrade-btn {position: absolute;   left:40%;top:50%;}
.loginModal .modal-header {margin-top:5px;padding: 10px 0px 10px 10px;}
.loginModal .google-btn{margin-top:30px;}
.audit-container .circle div {top:74px;}
.warning-box {background:#f9ede4;}
.error-box {background:#f9e8e8;}
#error-box {background: #f9e8e8;
    border: 1px solid #f00;
    padding: 15px;}
    #error-box h4 {color:#f00;}
    #error-box p {margin:0;}
.notice-box {background:#DCE8F7;}
/* analysis results page */
.analysis-container {}
.backlinks-table {}
table.dataTable thead th, table.dataTable thea d td, table.dataTable.no-footer {border-bottom:1px solid #ddd !important;}

.dataTables_wrapper {  }
.new-icon{background: #f60;
    z-index: 999;
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    padding: 0px 5px;
    text-decoration: none;
    position: relative;
    font-style: normal;
    top: -2px;
    }
.backlinks-table td:first-child {max-width:350px;word-wrap:break-word; }
.my-account {margin-top:60px;}
body .btn-warning {background:#f60;color:#fff;border-color:#f60;}
body .btn-warning:hover {background:#d45602;color:#fff;}
.table .thead-light th {font-size: 15px;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    font-weight: normal;}
    .table td { padding: 5px;
    font-size: 15px;
    border-top: 1px solid #ccc;}
.table a i.fa {    font-size: 14px !important;}
.export-tools {margin-top:30px;}
.export-tools a {display:block;background:#0E6EEA;border-color:#0E6EEA;}

.side-bar UL.NAV {position: fixed;
    width: 316PX;}
.Welcome-two-cols {margin-bottom:50px;}
.notice-bo h4, .error-box h4, .warning-box h4 {
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    padding-bottom: 6px;
}
.graph-container {    margin-top: 5px;
    text-align: center;}
.notice-box ul, .error-box ul, .warning-box ul {}
.error-box i, .error-box p {}
.notice-box i, .notice-box p {}
.warning-box i, .warning-box p {}
.warning-box p.description, 
.notice-box p.description, 
.error-box p.description {
    font-size:14px;
    margin-bottom:15px;
    color:#3f3f3f;
}
#seo-chart {margin:0 auto 25px auto;}
.table thead th {padding: 5px 7px;}
.rankings-container {margin-top:60px;}
.audit-container .table th:first-child, .audit-container .table td:first-child {}
.audit-container .table th:nth-child(2) , .audit-container .table td:nth-child(2)  {min-width:250px;}
.top-cols div { border: 2px solid #f4f4f4;padding:15px;}
.side-col {min-height: calc(100vh - 0px);}
.side-bar .footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.side-bar .footer ul {list-style-type:none;padding: 0;}
.side-bar .footer ul li {text-transform:uppercase;font-size:14px;}
.side-bar .footer p {font-size: 12px;
    color: #999;
clear:both;    margin: 0;}
.side-bar .footer .legal li {float: left;display: block;}
.side-bar .footer .legal li a {display: block;
    padding-left: 10px;
    float: left;
    font-size: 11px;
}
.btn-orange {background:#ff6600;color:#fff;}
.guide-box {
   max-width: 45%;
    margin-left: 3%;
    border: 1px solid #d3d3d3;
    background-color: #f4f4f4;
    padding: 0px 0px 40px 0px;
}
.guide-box ul {padding-left: 25px;}
    .guide-box h5 {
    background: #DDD;
    color: #3F3F3F;
    padding: 5PX 10PX;
}
.seo-report-table td:last-child {width:100px;}
.pricing-boxes a {display:block;}
.pricing-boxes a.btn {color:#fff;}
table.detailed-pricing {margin:30px 0 100px 0;}
.detailed-pricing th {    font-size: 18px;
    background : #333;
    padding: 8PX;
    color: #FFF;}
    .detailed-pricing tr th:first-child {background:none;border-top:none;}
.detailed-pricing td {font-size:16px;padding: 10px 0px;}
.nav .active {color:#fff;background: #5f5f5f;}
.google-preview {max-width:650px;}
.google-preview p {font-size:.9rem;}
.row.audit-text .col-md-5 {padding-left:0;}
.col-md-4.breakdown{padding-top:40px;}
.top-bar a.dropdown-toggle {color:#fff;}
.fav-icon .fav {margin:0;padding-top:5px;}
.found-list {
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.clean i {color:#19BF21;}
.view-more a {
    font-size:16px;
    text-transform:  uppercase;
    color:#3f3f3f;
    text-decoration:  underline;
}
#teaser div.col-md-8 {
    background:#f9f9f9;
    border-radius:3px;
    padding:50px;
}
#waiting {text-align:center;padding:50px 0 30px 0;}
#waiting .loading-box img {padding:15px;}
.overview {padding:20px;}
.overview .progressbar {
    padding: 10px;
    background: #eee;
    display: none;
}
.score-box h4, .breakdown h4, .screenshot-container h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #666;
}
.overview .progressbar .col-md-12 {
    padding:0px;
}
.progress {
    border: 1px solid #ccc;
    background-color: #fff;
}
.pricing-page {margin-top:40px;}
 .testimonials label {text-align:right;font-weight:bold;display:block;}
 .testimonials img {border:1px solid #ccc;padding: 3px;}
img.most {
    margin-right: 3px;
    height: 24px;
    width: 20px;
}
li.nav-item {
    font-size: 17px;
}
.row.Analyze {
    margin-top: 0px;
}
img.audit {
    height: 22px;
    width: 20px;
    margin-left: 0px;
    margin-right: 3px;
}
.col-md-5.text-right h5 {
    font-size: 19px;
}
.nav-link {
    display: block;
    padding: 10px;
}
img.keytrack {
    width: 22px;
    height: 24px;
margin-right: 1px;
}
img.base {
margin-right: 3px;
}
img.case {
margin-right: 3px;
}
img.analytics {
    height: 20px;
margin-right: 6px;
    width: 17px;
    margin-left: 0px;
}
span.icons {
    margin-right: 6px;
}
.clear {
clear: both;
}
.breakdown .pass {}
.breakdown-data {margin-top:15px;}
.Analysis-details .breakdown-data  div.col-md-4 {padding:0;}
.breakdown-data label {display: block;
    background: #ddd;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    font-size: .9rem;}
.breakdown-data span {display: block;
    font-size: 1.3rem;
    font-weight: bold;
    color:#333;
    margin-bottom: 10px;
    text-align: center;}
.pass, .cta, .mca, .pta  {
    width: 30%;
    float: left;
    text-transform: uppercase;
    font-size: 1.rem;
}
.breakdown .progress {
    width: 65%;margin-bottom:15px;
    float: left;height:20px;}
.favicon{
    display: flex;
}
.fav-icon{
    width: 20px !important;
    height: 20px !important;
    margin-right:5px;
}
p.match {
    margin-bottom: 10px!important;
}
.icon{
    margin-right: 5px;
}
.icon > img{
    width: 20px;
}
.logo >img{
    width:170px !important;
}
@media screen and (min-width: 768px) {
.side-bar {
       height: 100%;
    width: 100%;
    background: #3f3f3f;
    left: 0;
    top: 50px;
}
.row.top-bar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
}
@media screen and (max-width: 767px) {
    .content {
        width: 320px;
        height: 200px;
        left: 50%;
        margin-left: -210px;
        overflow: hidden;
      }

p.match {
    margin-bottom: 20px!important;
}
.col-md-5.text-right h5 {
    font-size: 16px;
}
.clear {
    margin-top: 50px;
}
.sectionmap {
margin-top: 20px;
margin-bottom: 110px;
}
.pta {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}
.cta {
    width: 21%;
    float: left;
    margin-right: 20px;
    font-size: 14px;
}
.pass {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}.mca {
    width: 21%;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}
.Welcome-two-cols .Quick-col, .Welcome-two-cols .plan-col {
       margin: 10px;
    max-width: 100%;
    border: 1px solid lightgray;
    background-color: #f4f4f4;
    padding: 20px;
}
.row.Welcome-two-cols {
    
}
button.btn.btn-primary {
    margin-top: 10px!important;
}
.side-col {
    min-height: 450px;
}
.col-md-12.text-start h5 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.col-md-6.text-right {
    margin-top: -32px;
    margin-bottom: 0px;
}

input#analyze {
    margin-bottom: 18px;
}
.overview .progressbar .progress {
margin-top: 10px;
    width: 100%;
margin-bottom: 10px;
}
.overview .Analyze .btn {
    width: 100%;
    margin-left: 0%;
}

h5#url {
    padding-top: 13px;
    font-size: 20px;
}
.row.audit-text.pt-3.pb-3 h5 {
    float: left;
}
h2 {
    margin-left: 27px;
}

table.table {
    margin-top: 20px;
}
input#seo_audit {
    margin-bottom: 20px;
}
.url-container .input-group-text {padding:0;}
.url-container #https-pref {padding: 7px 5px;
    border: 1px solid #ccc;
    background: #eee;}
.overview .four-cols .col-md-3 {
    border: 2px solid #f4f4f4;
    padding: 13px;
    text-align: center;
    margin: 7px;
    max-width: 100%;
}
.Back-to-audit {
    margin-left: 14px;
    width: 42%;
    font-weight: 700;
    font-size: 18px;
}
.row.errors-table h4 {
    margin-top: 22px;
}

}
.five-cols div.col-md-2, .five-cols div.col-md-4 {border-left:1px solid #ddd;padding:10px;}
.dataTables_filter {
}
.five-cols div:last-child {border-right:1px solid #ddd;}
.rankings-page .five-cols {border-bottom:1px solid #ddd;    margin-bottom: 15px;}
.rankings-table td:last-child {width:90px;}
.five-cols{margin:0;}
.five-cols.top {border-top:1px solid #ddd;margin-bottom:0}
.logo-container, .top-bar .col-md-6 {padding:0;}
.Analysis-details {margin-top:15px;}
.Analysis-details div.col-md-4 {border:1px solid #ddd;padding:15px;}
.analysis-container, .audit-container,.backlinks-container, .rankings-container {margin-top:60px;background: #EAECEE;}
.backlinks-container .dataTables_wrapper {margin-top:25px;}
.rankings-container .inner, .analysis-container .inner, .audit-container .inner,.backlinks-container .inner {background: #fff;
        padding: 25px 15px 40px 15px;
    border-radius: 3px;max-width:1200px;}
    .rankings-container .dataTables_wrapper {margin-top:30px;}
hr {margin:0 !important;}

.audit-container {}
/* mobile CDSS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.three-cols .col-md-4{width:100%;max-width: initial;}
table.detailed-pricing {overflow: scroll;
    max-width: 325px;
    display: block;}
    .audit-container .table th:first-child, .audit-container .table td:first-child {min-width:100px;}
    .side-bar .nav{position:inherit ;width:auto;}
    .side-bar {padding-top:15px;}
    .logo-container img {max-width:150px;}
    .side-col {min-height: 340px; }
    .top-bar .col-md-6 {padding:0  !important;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
